.table-bottom {
  border-top: 1px solid var(--white);
  padding: 30px;
}

.bottom-off {
  padding: 0;
  border-top: 0;
}

.button {
  min-width: 337px;
}

.error {
  font-size: 24px;
  margin-bottom: 25px;
}

@media (max-width: 1024px) {
  .table-bottom {
    padding: 15px;
  }

  .bottom-off {
    padding: 0;
  }

  .button {
    min-width: 200px;
  }

  .error {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .spinner {
    width: 24px;
    height: 24px;
  }
}
