.button {
  padding: 16px 37px;

  background-color: #b2b2b2;
  color: var(--black);

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;

  transition: 0.2s all linear;
}


@media(hover: hover) {
  .button:hover {
    color: var(--white);
    background-color: var(--gray);
  }
}

@media(hover: none) {
  .button:active {
    color: var(--white);
    background-color: var(--gray);
  }
}
