.container {
    width: 70%;
    height: 100%;
    max-width: 568px;

    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(6deg);

    background-color: #ddd6cb;
}

.wrapper {
    padding: 15px 30px;
}

.logo {
    gap: 15px;
}

.report {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 5px;
}

.case {
    font-size: 24px;
    line-height: 31px;
}

.last-info {
    margin-top: 30px;
}

@media (max-width: 1024px) {
    .wrapper {
        padding: 10px 15px;
    }

    .logo {
        gap: 8px;
    }

    .logo-icon {
        width: 60px;
        height: 60px;
    }

    .report {
        font-size: 16px;
        line-height: 16px;
    }

    .case {
        font-size: 16px;
        line-height: 16px;
    }

    .last-info {
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    .wrapper {
        padding: 5px 10px;
    }

    .logo {
        gap: 8px;
    }

    .logo-icon {
        width: 40px;
        height: 40px;
    }

    .report {
        font-size: 12px;
        line-height: 12px;
    }

    .case {
        font-size: 12px;
        line-height: 12px;
    }
}
