.input {
  padding: 16px 20px;

  background-color: var(--white);
  border: 0;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.input::placeholder {
  color: #757575;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
