.container {
  position: relative;
}

.input {
  width: 100%;
  padding: 16px 20px;

  background-color: var(--white);
  border: 0;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.input::placeholder {
  color: #757575;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.value {
  padding-right: 55px;
}

.button {
  width: 45px;
  height: 100%;

  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.clear {
  width: 20px;
  height: 20px;
}


@media (max-width: 1024px) {
  .input {
    padding: 12px 10px;
    font-size: 16px;
    outline: none;
  }

  .input::placeholder {
    font-size: 16px;
  }

  .value {
    padding-right: 40px;
  }

  .button {
    width: 30px;
  }

  .clear {
    width: 16px;
    height: 16px;
  }
}
