.container {
  width: 100%;
  max-width: 1920px;
  margin: 38px auto 50px;
}

.title {
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 48px;
}

.content {
  width: 100%;
  max-width: 920px;
  height: 810px;
  max-height: 810px;
  flex-grow: 1;
  margin: 60px auto 80px;
  overflow: hidden;
}

.left {
  flex-grow: 1;
  max-width: 350px;
  background-color: red;
}

.case {
  object-fit: cover;
  height: 100%;
}

.right {
  flex-grow: 1;
  max-width: 568px;
  background-color: #ddd6cb;
}

.state {
  height: 100%;
}

.spinner {
  width: 80px;
  height: 80px;
}

.error {
  font-size: 28px;
  margin-bottom: 15px;
}
