.container {
  width: 520px;
  min-width: 520px;
  height: 340px;
  padding: 15px 30px;
  background-color: #cdcfce;
  position: relative;
  overflow: hidden;
}

.top {
  gap: 8px;
  margin-bottom: 40px;
  position: relative;
}

.number {
  font-size: 8px;
  line-height: 35px;
  position: absolute;
  left: 0;
  top: 0;
}

.rank {
  max-width: 254px;
  flex-grow: 1;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--black);
  text-align: center;
  text-transform: uppercase;
}

.points {
  gap: 8px;
  max-width: 313px;
  margin-bottom: 30px;
}

.points-label {
  font-size: 16px;
  text-transform: uppercase;
}

.points-count {
  font-size: 14px;
  padding: 0 5px 10px;
  border-bottom: 1px solid var(--black);
}

.description {
  max-width: 290px;
  gap: 12px;
}

.description-label {
  text-transform: uppercase;
}

.description-text {
  font-size: 14px;
  padding: 8px;
  border: 1px solid var(--black);
}

.image {
  width: 166px;
  height: 201px;

  position: absolute;
  right: 12px;
  top: 90px;
}

.image-wrapper {
  width: inherit;
  height: inherit;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  transform: rotate(5deg);
}

.image-clip {
  width: 38px;
  height: 45px;

  position: absolute;
  right: -5px;
  top: -20px;
  z-index: 1;
  transform: rotate(-5deg);
}

.image-rank {
  width: 146px;
  height: 181px;
  object-fit: cover;
}


@media (max-width: 1024px) {
  .container {
    width: 220px;
    min-width: 220px;
    height: 330px;
    padding: 15px;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  .top {
    gap: 0;
    margin-bottom: 16px;
    flex-direction: column-reverse;
  }
  .number {
    position: static;
    line-height: 10px;
  }

  .rank {
    max-width: none;
    font-size: 20px;
    padding-bottom: 0;
  }

  .points {
    max-width: none;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 2px;
  }

  .points-label {
    font-size: 16px;
    max-width: 72px;
    border-bottom: 1px solid var(--black);
  }

  .points-count {
    padding: 0;
    border-bottom: 0
  }

  .description {
    max-width: none;
    gap: 2px;
  }

  .description-label {
    text-transform: none;
    max-width: 93px;
    border-bottom: 1px solid var(--black);
  }

  .description-text {
    font-size: 12px;
    padding: 0;
    border: 0;
  }

  .image {
    width: 83px;
    height: 100px;
    position: static;
    right: auto;
    top: auto;
    margin-bottom: 10px;
  }

  .image-wrapper {
    transform: none;
  }

  .image-clip {
    display: none;
  }

  .image-rank {
    width: 73px;
    height: 90px;
  }
}
