.footer {
  background-color: var(--gray);
  padding: 24px 24px 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  border-bottom: 1px solid var(--white);
  padding-bottom: 21px;
}

.logo {
  width: 129px;
  height: 131px;
  margin-bottom: 44px;
}

.info {
  gap: 36px;
}

.icon {
  width: 53px;
  height: 53px;
}

.questions {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 7px;
}

.phone {
  font-size: 20px;
  line-height: 29px;
}

@media (max-width: 1024px) {
  .footer {
    padding: 19px 20px 14px;
  }

  .wrapper {
    max-width: 320px;
    padding-bottom: 8px;
  }

  .logo {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
  }

  .info {
    align-items: flex-start;
    gap: 16px;
  }

  .icon {
    width: 26px;
    height: 26px;
  }

  .questions {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
  }

  .phone {
    font-size: 16px;
    line-height: 16px;
  }
}
