.row {
  border-top: 1px solid var(--white);
}

.body {
  font-size: 24px;
  line-height: 30px;
  font-family: var(--bebas);
  color: var(--white);
  padding: 20px 15px;
  border-right: 1px solid var(--white);
}

.team {
  word-wrap: break-word;
  max-width: 250px;
}

.team > a > span {
  text-decoration: underline;
}

.total-points {
}
.rank {
}
.total-games {
}
.empty {
  width: 10%;
}
.first-places {
}
.second-places {
}
.third-places {
}

.align-left {
  text-align: left;
}

.border-off {
  border-right: 0;
}

@media (max-width: 1024px) {
  .row {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }

  .body {
    font-size: 18px;
    line-height: 18px;
    padding: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }

  .rank {
    display: none;
  }

  .total-games {
    display: none;
  }

  .empty {
    display: none;
  }

  .first-places {
    display: none;
  }

  .second-places {
    display: none;
  }

  .third-places {
    display: none;
  }
}
