.container {
    width: 100%;
}

.background {
    width: 100%;
    height: 806px;
    max-width: 926px;
    margin: 60px auto;

    position: relative;

    background-image: url("/public/assets/images/case.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f20212;

    border-radius: 20px;
}

.dossier {
    width: 70%;
    height: 100%;
    max-width: 568px;

    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(6deg);

    background-color: #ddd6cb;
    border-radius: 20px;
}

@media (max-width: 1024px) {
    .background {
        height: 500px;
        margin: 30px auto;
    }
}

@media (max-width: 500px) {
    .background {
        height: 310px;
    }

    .spinner {
        width: 30px;
        height: 30px;
    }
}
