.container {
  border: 10px solid var(--white);
  background: url("public/assets/images/table-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.table {
  width: 100%;
  border: 0;
}
