.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto 30px;
  padding: 0 70px;
}

.form {
  margin-bottom: 40px;
}

.input {
  flex-grow: 1;
}

.button {
  flex-grow: 0;
}

@media (max-width: 1400px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 15px;
    margin: 0 auto 18px;
  }
  .form {
    margin-bottom: 20px;
    flex-direction: column;
  }
  .input {
    width: 100%;
  }
  .button {
    width: 100%;
    min-height: 40px;
  }
}
