.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto 110px;
  padding: 0 70px;
}

.title {
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 50px;
}


@media (max-width: 1024px) {
  .container {
    margin: 0 auto 60px;
    padding: 0 15px;
  }

  .title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 40px;
  }
}
